SPRING_APPLICATION_NAME=restaurant-service
SERVER_PORT=8082

QUICKBITE_RESTAURANT_DB_URL=jdbc:mysql://localhost:3306/quickbite_restaurant?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
QUICKBITE_RESTAURANT_DB_USERNAME=root
QUICKBITE_RESTAURANT_DB_PASSWORD=change-me
QUICKBITE_RESTAURANT_DB_DRIVER=com.mysql.cj.jdbc.Driver
QUICKBITE_RESTAURANT_HIBERNATE_DIALECT=org.hibernate.dialect.MySQLDialect

QUICKBITE_REDIS_ENABLED=false
QUICKBITE_REDIS_HOST=localhost
QUICKBITE_REDIS_PORT=6379
QUICKBITE_REDIS_TIMEOUT=2000ms

QUICKBITE_RABBITMQ_HOST=localhost
QUICKBITE_RABBITMQ_PORT=5672
QUICKBITE_RABBITMQ_USERNAME=guest
QUICKBITE_RABBITMQ_PASSWORD=guest

QUICKBITE_EUREKA_URL=http://localhost:8761/eureka/
QUICKBITE_RESTAURANT_JWT_SECRET=replace-with-a-long-base64-secret
QUICKBITE_RESTAURANT_JWT_EXPIRATION=86400000
QUICKBITE_DELIVERY_BASE_URL=http://localhost:8087
QUICKBITE_NOTIFICATION_BASE_URL=http://localhost:8084
